chromedriver/chromedriver.exe
archive/statistic.csv
data/10-million-password-list-top-10000000.txt
data/last_name_list.txt
data/mails.txt
data/name_list.txt
data/passwords.txt
data/zip_codes.txt
data/
